@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Abel', sans-serif;
  }  

  /* Style the scrollbar for Webkit browsers (Chrome, Safari, Edge, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
  background: #333; /* Dark background for the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #666; /* Dark thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #333; /* Optional: adds a border around the thumb for a better look */
}

/* Optional: Add hover effect to thumb for better interactivity */
::-webkit-scrollbar-thumb:hover {
  background: #888; /* Lighter shade on hover */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin; /* Thin scrollbar for Firefox */
  scrollbar-color: #666 #333; /* Thumb color and track color */
}
